[Desktop Entry]
Name=FakeDak
Exec=webapp-container --app-id="fakedak.fakeshell" $@ www/index.html
Icon=web/logo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
